@charset "utf-8";

/* General */
html {
    font-size: 62.5%;
    line-height: 2;
    font-family: "Dosis", sans-serif, '�q���M�m�p�S Pro W3', 'Hiragino Kaku Gothic Pro', "��S�V�b�N Medium", "Yu Gothic Medium", "��S�V�b�N��", YuGothic, '���C���I', Meiryo, Osaka, '�l�r �o�S�V�b�N', 'MS PGothic', sans-serif;
    text-align: center;
}

body, figure {
    margin: 0;
}

*, *::before, ::after {
    box-sizing: border-box;
}

#wrapper {
    background-color: #dddddd
}

/* Header */
header {
    position: relative;
    height: 60vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(img/1.png);
}

header h1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    margin: 0;
    padding: 0 .5em;
    color: #FF0000;
    font-size: 7rem;
    line-height: 1.4;
    font-family: "Dosis", sans-serif;
    letter-spacing: .1em;
    transform: translateY(-50%);
}

header h3 {
    position: absolute;
    z-index: 1;
    top: 70%;
    width: 100%;
    margin: 0;
    padding: 0 .5em;
    color: #FFFFFF;
    font-size: 3rem;
    line-height: 1.4;
    font-family: "Dosis", sans-serif;
    letter-spacing: .1em;
    transform: translateY(-50%);
}

/* Global Navigation */
.gnavi {
    height: 80px;
    background-color: #000000;
    box-shadow: 0 3px 6px -3px #ffffff inset;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.gnavi__inner {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}

.gnavi ul {
    height: 100%;
    display: flex;
    margin: 0 -20px;
}

.gnavi li {
    flex: 1 1;
    position: relative;
    display: flex;
}

.gnavi li::after {
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    right: -1px;
    top: calc((100% - 20px)/2);
}

.gnavi li:last-child::after {
    content: none;
}

.gnavi a {
    display: flex;
    flex: 1 1;
    justify-content: center;
    padding: 0 20px;
}

.gnavi a:hover span {
    color: #ff7600;
    position: relative;
}

.gnavi a:hover span::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    bottom: 0;
    background-color: #ff7600;
    border-radius: 5px;
}

.gnavi span {
    display: flex;
    align-items: center;
    word-break: keep-all;
    color: #999999;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Main */
main {
    padding: 4em 16px;
    font-size: 1.6rem;
    text-align: left;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

main h1 {
    font-size: 5rem;
    line-height: 1rem;
}

.titles {
    max-width: 960px;
    padding-top: 80px;
    margin-top: -80px;
    margin-right: auto;
    margin-left: auto;
}

.level1 {
    max-width: 840px;
    margin-top: 20px;
    margin-bottom: 160px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.level2 {
    max-width: 840px;
    margin-top: 20px;
    margin-bottom: 190px;
    margin-right: auto;
    margin-left: auto;
}

.level3 {
    max-width: 840px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.level4 {
    max-width: 840px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.level5 {
    max-width: 770px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.profile-image {
    width: 30%;
}

.profile-desc {
    width: 63%;
}

.rating {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.profile-twitter {
    width: 21%
}

.profile-atcoder {
    width: 21%
}

.profile-github {
    width: 21%
}

.profile-qiita {
    width: 21%
}

.career-left {
    width: 13%;
    height: 12vh;
    line-height: 0.7;
    padding-top: 5px;
    background-color: #8888FF;
    color: #222222;
    font-family: "Century Gothic";
}

.career-right {
    width: 82%;
    height: 10vh;
    padding-top: 15px;
}

/* Tables */
table {
    border-collapse: collapse;
}

table th {
    border: solid 1px black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FF9999;
}

table td {
    border: solid 1px black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFdddd;
}
